@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* theme color */
  --primary-text: #25282b;
  --secondary-text: #52575c;
  --default-text: #a0a4a8;
  --white: #fff;
  --bottom-line: #f9f9fa;
  --gray: #e7e8ea;
  --red: #bc0c19;
  --green: #07934b;
  --dark-green: #066a3a;
  --primary-mid-light: #ec3342;
  --background-light: #f9f9fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background-light);
  font-family: Arial, Helvetica, sans-serif;
}
